<footer
    class="w-full h-[68px] bg-slate-800 mt-auto text-white float-right flex flex-col justify-center items-center gap-2">
    <p class="m-0">Bookworm Admin</p>
    <p class="text-center m-0">&copy; 2024 Nash Rookie</p>
</footer>