<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    {{!--
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" /> --}}

    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.tailwindcss.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.tailwindcss.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.css">

    <script src="https://cdn.tiny.cloud/1/g1d5dgq47v0fhhw986y6ber4r2r0rmjce9yzd63m7d4op4bk/tinymce/7/tinymce.min.js"
        referrerpolicy="origin"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

        :root {
            font-family: 'Open Sans', sans-serif !important;
            --header-height: 68px;
            --pastel-grey: #cfcfc4;
            --light-grey: #f5f5f5;
            --primary-button: #6C767E;
            --black-text: #515151;
        }

        body {
            color: rgb(var(--foreground-rgb));
            background: linear-gradient(to bottom,
                    transparent,
                    rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
            display: flex;
        }

        main {
            width: calc(100% - 220px);
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            position: relative;
        }

        .dt-column-title,
        .dt-column-order {
            color: #515151 !important;
        }

        tr {
            background-color: #fffcfc !important;
        }

        ::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }

        ::-webkit-scrollbar-track {
            background: #f1f1f1;
            border-radius: 4px;
            margin: 0 16px;
        }

        ::-webkit-scrollbar-thumb {
            background: #a5b1c2;
            border-radius: 4px;
        }

        ::-webkit-scrollbar-thumb:hover {
            background: #d1d8e0;
        }

        @media (prefers-color-scheme: dark) {
            .dark\:bg-gray-800 {
                background-color: white !important;
            }
        }
    </style>
</head>