<!DOCTYPE html>
<html lang="en">
{{> head }}

<body>
    {{> sidebar }}
    <main>
        {{> header }}
        <section class="mt-[68px] p-4 overflow-x-scroll">
            <h1 class="font-bold text-lg pb-8">Reviews</h1>
            <table id="reviews-table" class="w-full">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Rating</th>
                        <th>Product</th>
                        <th>Customer</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody class="reviews-table-body"></tbody>
            </table>
        </section>
        {{> footer }}

        <dialog id="dialog"
            class="w-[400px] h-[250px] bg-blue-950 absolute top-0 left-0 right-0 bottom-0 m-auto rounded-lg">
            <h3 class="w-full text-center mt-8 font-bold text-white">Are you sure you want to delete this?</h3>
            <button id="cancelBtn" onclick="closeModal()"
                class="float-right bg-white rounded-lg mr-4 px-4 py-2 mt-[100px]">Cancel</button>
            <button id="confirmBtn" onclick="remove()"
                class="float-right bg-white rounded-lg mr-4 px-4 py-2 mt-[100px]">Confirm</button>
        </dialog>
    </main>

    <script>
        const reviews = {{ json reviews }}
        const removeUrl = {{ json removeUrl }}

        const dialog = document.getElementById('dialog');
        let id = ''

        $(document).ready(async () => {
            const reviewsBody = $('.reviews-table-body');
            reviews?.forEach((review) => {
                reviewsBody.append(`
                        <tr>
                            <td>${review?.id}</td>
                            <td>${review?.title}</td>
                            <td>${review?.rating}</td>
                            <td>${review?.product?.title}</td>
                            <td>${review?.user_id}</td>
                            <td>${review?.status}</td>
                            <td class='flex gap-8'>
                                <a href='/reviews/${review?.id}'><button><i class="fa-solid fa-pen-to-square" style="color: #43fa00;"></i></button></a>
                                <button onclick="showModal(event)" value="${review?.id}"><i class="fa-solid fa-xmark" style="color: #f08000;"></i></button>
                                <button><i class="fa-solid fa-trash" style="color: #fd1c1c;"></i></button>
                            </td>
                        </tr>
                    `)
            })
            $('#reviews-table').DataTable({
                pageLength: 5,
                lengthMenu: [5, 10, 25, 50],
                responsive: true
            });
        });

        const showModal = (event) => {
            id = event.currentTarget.value
            dialog.showModal()
        }
        const closeModal = () => {
            dialog.close()
        }

        const remove = async () => {
            const accessToken = localStorage.getItem('access_token')
            try {
                const res = await fetch(`${removeUrl}/${id}`, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': `Bearer ${accessToken}`
                    },
                    credentials: 'include'
                })
                const data = await res.json()
                toast(data)
            } catch (e) {
                console.log(e)
            }
            closeModal()
        }
    </script>
    {{> common }}
</body>

</html>